:root {
	--container-width: 1140px;
	--container-width-sm: 840px;
	--container-padding: 15px;

	--font-main: 'Raleway', sans-serif;
	--font-accent: 'Playfair Display', serif;
	--font-secondary: 'Roboto', sans-serif;

	--white: #fff;
	--accent: #D4C17F;
	--dark: #242b33;
	--footer-bg: #2D343C;
	--placeholder: #bebebe;
	--muted: #e7e7e7;
	--gray: #626262;

	--tablet: 1023px;
}