.benefits {
  overflow: hidden;
}

.benefits__row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;

  padding: 120px 0;

  &:after {
    content: 'II';
    right: -50%;
    transform: translate(-50%, -45%);
		@include decorNumber;
  }
}

.benefits__item {
  width: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
  text-align: center;

  img {
    width: 80px;
    height: 80px;
  }

  p {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%;
  }
}




@media (max-width: 1023px) {

  .benefits__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
  }

  .benefits__item {
    gap: 20px;
    justify-self: center;

    img {
      width: 60px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 800px) {
  
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}