.mobile-nav {
  position: fixed;
  top: -200%;
  width: 100%;
  height: 100%;
  z-index: 99;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--dark);
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #fff;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  font-size: 22px;

  .active {
    opacity: 0.5;
  }

  a:hover {
    color: var(--accent);
    }
}

.mobile-nav__logo {
  margin-bottom: 100px;
}
